<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>My GitHub project</title>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <!--[if lt IE 9]><script type='text/javascript' src='assets/javascript/html5.js'></script><![endif]-->
    <script type='text/javascript' src='assets/javascript/prettify.js'></script>
    <link rel='stylesheet' type='text/css' href='/assets/css/skeleton/stylesheets/base.css' />
    <link rel='stylesheet' type='text/css' href='/assets/css/skeleton/stylesheets/skeleton.css' />
    <link rel='stylesheet' type='text/css' href='/assets/css/prettify.css' />
    <link rel='stylesheet' type='text/css' href='/assets/css/style.css' />
  </head>

  <body onload='prettyPrint()'>
    <div class='container'>
      <header class='sixteen columns'>
        <div class='nine columns alpha'>
          <h1>Truestack</h1>
          <h2>Rails app analytics - simplified.</h2>

          <p>
            We help you know how your app is doing - in *real time*;  how it changes over time; and where to start when it needs fixing.
          </p>
        </div>
      </header>
      <div class='sixteen columns'>
            {{ content }}
      </div>
    </div>
    <footer>
    <div class='container'>
      <div class='sixteen columns repo-author' style='text-align: center'>
          <img src='http://truestack.herokuapp.com/assets/truestack-logo.svg' width='100'/>
      </div>

      <div class='sixteen columns credits'>
        <p>
          Designed and Built by the GreenFryLabs team.
        </p>
      </div>
    </div>
    </footer>
  </body>
</html>
